<%= render "layouts/navigation"%>
<div class="container">
<div class="span7 offset3">
<h2>&emsp;New staff</h2>

<%= render 'form' %>


</div>
<div class="span7 offset3">
<br>
&emsp;&emsp;<%= link_to 'Back', department_staffs_path %>
</div>
</div>
<div class="top"></div>