<%= render "layouts/navigation"%>
<div class="modal modal-form " id="show">
<div class="modal-body">
<h1>Editing department</h1>

<%= render 'form' %>

<%= link_to 'Show', @department %> |
<%= link_to 'Back', departments_path %>
</div>
</div>

<div class="partial-overlay">
</div>