<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">

		<div class="container">
		<a href="#" class="brand">Nidalee company</a>
		<div class="nav-collapse">

			<ul class="nav">
				
				<% if signed_in?%>
				<li><%= link_to "Department", departments_path%></li>

				<%end%>
			</ul>
 
    		</div>
    		</div>
	</div>
</div>
<div class="banner">

<div class="container">
<div class="top"></div>
<h1>We always serve you</h1>
<h2>&emsp;&emsp;  a fancy cloth</h2>
<p>&emsp;&emsp;  You can find the new arrival cloth by </p>
<p>&emsp;&emsp;&emsp;&emsp;    just click the link below!! </p>

<a href="#" class="btn btn-large btn-primary">Visit official Website</a>
<%=link_to "Staff Login Here", departments_path, class: "btn btn-large btn-info"%>
</div>
</div>